header {grid-area: hdr; }
#nav-bar {grid-area: nav; }
article {grid-area: art; }
footer {grid-area: ftr; }

.grid-container {
    display: grid;
    background-color: skyblue;
    grid-template-areas:
        'hdr hdr hdr hdr'
        'art art art art'
        'ftr ftr ftr ftr';
    border-radius: 10px;
}

.grid-item {
    width: auto;
    min-width: fit-content;
    margin: 1%;
    padding: 2%;
}

.flex-container {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    margin: 5%;
}

header, #nav-bar, article, footer {
    padding: 2% 0;
}

header {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-weight: 1000;    
}


/* Items above this will be deleted eventually */
body {
    font-family: 'Crimson Text', serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: rgb(0, 100, 255);
}

.navbar a {
    cursor: default;
}

.navbar a:hover {
    color:cyan;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item{
    display: grid;
    grid-template-columns: 1.2em auto;
    align-items: center;
    padding-left: 1.1em;
    gap: 0.2em;
}

.nav-link {
    color: white;
    font-size: 1.2em;
    align-items: center;
}

.nav-icon {
    height: 1rem;
    transform: translate(-50%);
}

.footer-logos {
    height: 3em;
}

#nav-icon {
    height: 2em;
    padding-left: 0.6em;
}


